.pics {
  .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
    .item {
      grid-row-end: span 0;
      position: relative;
      img {
        width: 100%;
      }
      .content {
        display: none;
        position: absolute;
        bottom: 0px;
        padding: 10px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: hidden;
        max-height: 100%;
      }
      &:hover {
        .content {
          display: block;
        }
      }
    }
  }
}
.pics-app {
  .total {
    margin-top: 10px;
    font-size: 1.2em;
    color: darken(gray, 10%);
  }
}
