body {
  padding: 0px;
}
.sun {
  color: rgb(216, 219, 18);
}
.snowflake {
  color: rgba(97, 171, 241, 0.767);
}
.top {
  position: absolute;
  top: 10px;
  left: 10px;
}
.bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-summer {
  background: rgb(247, 231, 146);
}
.season-winter {
  background: rgba(193, 218, 241, 0.767);
}
